
.container {
    background-color: #f8d7da;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    font-family: 'Arial', sans-serif;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Modal em cima de tudo */
}


.modal-content {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 90%; /* Largura ajustável */
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.modal-content.show {
    transform: scale(1.05);
}

input, button {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
}

button {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #c82333;
}


button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}


input {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

input:focus {
    outline: none;
    border-color: #dc3545;
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}
